<h2 style="text-align: center">{{video["name"]}} | {{video["request"]}}</h2>
<mat-grid-list cols="12" rowHeight="1:3">
  <mat-grid-tile colspan="6">
    <mat-card>
      <mat-card-title>
        Clean Video
      </mat-card-title>
      <mat-card-content *ngIf="cleanVideoUrl">
        <video controls width="400">
          <source src="{{cleanVideoUrl}}" type="video/mp4">
          Sorry, your browser doesn't support embedded videos.
        </video>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="6">
    <mat-card>
      <mat-card-title>
        Translated Video | {{video["language"]}}
      </mat-card-title>
      <mat-card-content *ngIf="translatedVideoUrl">
        <video controls width="400">
          <source src="{{translatedVideoUrl}}" type="video/mp4">
          Sorry, your browser doesn't support embedded videos.
        </video>
      </mat-card-content>
      <mat-card-actions>
            <a mat-raised-button color="accent" href="{{translatedVideoUrl}}" download>Right Click To Download</a>
          </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
