/* Container holding the image and the text */
 .container {
  position: relative;
  text-align: center;
  color: red;
}

/* Default style for all overlay text */
.text-overlay {
  position: absolute;
}