<div *ngIf="request.language; else nothing">
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Setup
        </mat-panel-title>
        <mat-panel-description>
          Lang: {{request.language}} | Email: {{request.email}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="12" rowHeight="2:1">
        <mat-grid-tile colspan="4">
          <mat-form-field>
            <mat-label>Language</mat-label>
            <mat-select matTooltip="Please ensure language matches OST text." matTooltipPosition="above"
              [(ngModel)]="request.language">
              <mat-option *ngFor="let lang of availableLanguages" [value]="lang.title">
                {{lang.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <mat-form-field>
              <mat-label>Video Mode</mat-label>
              <mat-select matTooltip="What should happen when video and voiceover durations do not match?" matTooltipPosition="above"
                [(ngModel)]="request.video_mode">
                <mat-option *ngFor="let option of objectKeys(videoModeOptions)" [value]="option">
                  {{videoModeOptions[option]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        <mat-grid-tile colspan="4">
          <mat-label>Email</mat-label>
          <input matInput matTooltip="Please enter email to receive a notification when video is ready."
            matTooltipPosition="above" placeholder="email@example.com" type="email" [(ngModel)]='request.email'>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-action-row>
        <p *ngIf="!canSubmit">Please wait while we submit your request.</p>
        <button mat-button [disabled]="!canSubmit" (click)="sendRequestToFrappe()">Build Video</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-tab-group>
    <mat-tab label="OST">
      <ng-container *ngTemplateOutlet="ost"></ng-container>
    </mat-tab>
    <mat-tab label="Voiceover">
      <ng-container *ngTemplateOutlet="voiceover"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #ost>
  <mat-paginator [length]="frameNumbers.length" [pageSize]="pageSize" (page)="pageIndex = $event.pageIndex">
  </mat-paginator>
  <mat-accordion *ngIf="objectKeys(frames).length > 0; else noFrames">
    <mat-expansion-panel
      *ngFor="let number of frameNumbers.slice(pageIndex*pageSize,(pageIndex+1)*pageSize); let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Frame {{number}}
        </mat-panel-title>
        <mat-panel-description>
          {{frames[number].boxes.length}} Text Boxes
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-grid-list cols="12" rowHeight="1:4">
        <mat-grid-tile colspan="6">
          <div class="container">
            <img src="{{frames[number].cleanImage}}" alt="Frame {{number}}" style="width:100%;" #ostCleanImage>
            <div *ngFor="let box of frames[number].boxes; let i = index" class="text-overlay"
              [ngStyle]="getCoords(number,i)">{{box.text}}</div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="6">
          <div class="container">
            <img src="{{frames[number].finalImage}}" alt="Snow" style="width:100%;">
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="12" rowHeight="1:2">
        <mat-grid-tile colspan="3" *ngFor="let box of frames[number].boxes; let i = index">
          <mat-card>
            <p>Box {{i+1}}: x:{{box.coords[0]}}, y:{{box.coords[1]}}</p>
            <input matInput placeholder="Enter translation..." name="box-{{number}}-{{i}}" [(ngModel)]="box.text">
            <mat-card-actions>
              <button mat-raised-button color="accent" (click)="openFontDialog(number,i)">Font: {{box.fontsize}} |
                {{box.fontcolor}}</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-action-row>
        <button mat-button *ngIf="i>0" (click)="copyPreviousFrame(number,i-1)">Copy Previous Frame</button>
        <button mat-button (click)="ignoreFrame(number)">Ignore Frame</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>

<ng-template #voiceover>
  <ng-container *ngIf="originalVoiceovers && objectKeys(originalVoiceovers).length > 0; else noVoiceovers">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let start of voiceoverStarts; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Voiceover starting at {{start}}s
          </mat-panel-title>
          <mat-panel-description>
            Duration: Original: {{originalVoiceovers[start].duration}}s | Recorded:
            {{recordedVoiceovers[start] && recordedVoiceovers[start].duration || 0}}s
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="12" rowHeight="1:5">
          <mat-grid-tile colspan="4">
            <mat-card>
              <mat-card-title>
                Transcript
              </mat-card-title>
              <mat-card-content>
                <p>{{originalVoiceovers[start].transcript || 'No transcript available.'}}</p>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <mat-card>
              <mat-card-title>
                Hindi Voiceover
              </mat-card-title>
              <mat-card-content>
                <audio controls *ngIf="originalVoiceovers[start].wav">
                  <source src="{{originalVoiceovers[start].wav}}" type="audio/wav">
                  Your browser does not support the audio tag.
                </audio>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile colspan="4">
            <mat-card>
              <mat-card-title>
                Record Voiceover
              </mat-card-title>
              <mat-card-content>
                <p *ngIf="isRecording && !recordedVoiceovers[start]"> {{recordedTime}}s </p>
                <audio controls *ngIf="!isRecording && recordedVoiceovers[start] && recordedVoiceovers[start].safeUrl">
                  <source [src]="recordedVoiceovers[start].safeUrl" type="audio/webm">
                  Your browser does not support the audio tag.
                </audio>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="accent" (click)="startRecording(start)"
                  *ngIf="!isRecording && !recordedVoiceovers[start]">Record</button>
                <button mat-raised-button color="accent" (click)="stopRecording()" *ngIf="isRecording">Stop</button>
                <button mat-raised-button color="accent" (click)="deleteRecording(start)"
                  *ngIf="!isRecording && recordedVoiceovers[start] && recordedVoiceovers[start].safeUrl">Delete</button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</ng-template>

<ng-template #nothing>
  <h3>Please wait. If you see this message for longer than 15 seconds, try reloading the page.</h3>
</ng-template>

<ng-template #noFrames>
  <h4>Please wait while we retrieve OST information. If you see this message for longer than 15 seconds, try reloading
    the page. If the error persists, please let us know and try another video.</h4>
</ng-template>

<ng-template #noVoiceovers>
  <h4>Please wait while we retrieve Voiceover information. If you see this message for longer than 15 seconds, try
    reloading the page. If the error persists, please let us know and try another video.</h4>
</ng-template>
